html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, citea
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	  font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	}

body
{
    background-color: #f1f1f1;
    font-family: Tahoma, Calibri, 'Trebuchet MS' , Arial;
    margin: 20px;
    line-height: 1.42857143;
    color: #333333;
	font-size:14px;
	margin: 20px;

}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #8d8d8d;
    border-right: 1px solid #8d8d8d;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
    clear: both;
}
img{
		width:100%;
}
a {
		color: #fff;
		text-decoration: underline;
	}
.gm {
    border-top: 1px solid #8d8d8d;
	border-radius: 20px 20px 0px 0; 
	border-left: 1px solid #8d8d8d;
		border-right: 1px solid #8d8d8d;

 }
.go {
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
	border-radius: 20px 20px 0px 0; 
    background-color: #fff;
}
 .logo  {
    padding: 13px 7px 1px 0;
    width: 180px;
	float: left;
	margin-top: -7px;
	}
	.top-number {
    float:right;
    padding: 20px 0px 0px 0;
}
.top-number p {
    margin: 0;
	font-style: italic;
}
.fa {
   padding-right:5px;
   color:green;
}
.fa-envelope-o {
	color:#333;
}
.sect1 {

    padding-top: 1em;
	}
	.slides{
	text-align:center;
	padding:15px 0;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sl {
		background-color:#3498DB;
border-top: 1px solid #f9f9fa;
    border-bottom: 1px solid #f9f9fa;
	
}
.slides h2{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	color: #fff;
	line-height: 1.2;
}
.slides, .photo, .description {
	
}
.show-details::before {
	-webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
    border-radius: 50%;
    color: white;
    z-index: 2;
    font-family: FontAwesome;
    content: "\f002";
    text-align: center;
    border: 2px solid #fff;
    opacity: 1;

}
.details-holder
{
    float: left;
    position: relative;
    
box-shadow:0 0 2px 0 rgba(0,0,0,0.19),0 2px 6px 0 rgba(0,0,0,0.19);
    padding: 15px;
    background-color: #fff;
	margin-bottom: 10px;

}

.details-holder:hover{box-shadow:0 0 4px 0 rgba(0,0,0,0.17),0 6px 18px 2px rgba(0,0,0,0.17)}

.close:hover {
    opacity: 0.9;
    text-decoration: none;
    color: #040404;
}
.show-details img
{
    width: 100%;
    height: 100%;
}
.show-details:hover img
{
    position: relative;
    opacity: 1;
}
.img-info
{
    padding: 170px 10px 0px 10px;
    position: absolute;
    z-index: 20;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;    
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-transition: 0.5s Ease;
    -moz-transition: 0.5s Ease;
    -o-transition: 0.5s Ease;
    transition: 0.5s Ease;
    opacity: 0;
    
}
.img-info::after         
 {
	-webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
    border-radius: 50%;
    color: white;
    z-index: 2;
    font-family: FontAwesome;
    content: "\f002";
    text-align: center;
    border: 2px solid #fff;
    opacity: 1;
	background-color:rgba(0,0,0,0.4);

}
.show-details:hover .img-info
{
    opacity:1;    
}

.show-details:hover::before {
	opacity:0;
}
.is-image {
	width:100%;
	    height: 100%;
}

	.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 9999;
visibility: hidden;
/* фон затемнения */
background-color: #0b0b0b;
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; /* тип курсара */

}
.overlay:target {
visibility: visible;
opacity: 0.8;
}
.popup {
top: 0;
right: 0;
left: 50%;
font-size: 14px;
font-family: 'Tahoma', Arial, sans-serif;
z-index: 10000;
margin: 0 auto;
width: 100%;
min-width: 300px;
max-width: 820px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
/* скругление углов */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
/* внешняя тень */
-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-o-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
/* трансформация */
-webkit-transform: translate(-50%, -150%);
-ms-transform: translate(-50%, -150%);
-o-transform: translate(-50%, -150%);
transform: translate(-50%, -150%);
color:green;
}
/* активируем мод. окно */
.overlay:target+.popup {
top: 50%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
/* анимируем трансформацию */
-webkit-transition: transform 0.6s ease-out;
-moz-transition: transform 0.6s ease-out;
-ms-transition: transform 0.6s ease-out;
-o-transition: transform 0.6s ease-out;
transition: transform 0.6s ease-out;
}
/* формируем кнопку закрытия */
.close {
position: absolute;
padding: 0;
top: -20px;
right: -5px;
width: 22px;
height: 22px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;

}
.close:before {
content: '\2715';
font-size: 12px;
}


.description h3 {
	text-align: center;
	color: #F2C64D;
    margin-bottom: 18px;
    display: block;
    

}

.ot {
	-webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
	background-color: #f1f1f1;
	    padding: 20px 0px 20px 0px;
		margin-top: 20px;
    margin-bottom: 20px;
}


        h1 {
            padding: 50px 0;
            font-weight: 400;
            text-align: center;
        }
        
       
         .leto {
			    color: #2388d9;
    background: #fff;
	display: inline-block;
    margin: 0 0 -1px;
    font-weight: 600;
    text-align: center;
    border: 0px solid #2388d9;
    border-width: 1px 1px 1px 1px;
    border-radius: 3px 3px 0 0;
		}
		.let0 {
		
   
    padding: 15px 25.37px;
    
		}
		 .let1 {
		
   
    padding: 15px 41.27px;
    
		}
			 .let2 {
		
   
    padding: 15px 42.5px;
    
		}
				 .let3 {
		
    padding: 15px 24.02px;
    
		}
				 .let4 {
		
    padding: 15px 24.02px;
    
		}
		.opisanie1 p{
			text-indent:18px;
		}
        
    
  .tor {
	  border-bottom: 1px solid #8d8d8d;
	border-radius: 0px 0px 20px 20px; 
	border-left: 1px solid #8d8d8d;
	height:70px;
	line-height:70px;
	text-align:center;
	box-shadow: 0px -5px 36px -5px rgba(51, 51, 51, 0.2);
}


.igor {
	
	padding-bottom: 15px;
    padding-top: 20px;
	margin-top: 20px;
    margin-bottom: 20px;
	    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
}
hr {
    background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    border: 0;
    height: 1px;
	margin-top: 20px;
  margin-bottom: 20px;
}

	@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 970px;
    }
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-gm-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-gm-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-gm-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-gm-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-gm-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-gm-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-gm-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-gm-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-gm-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-gm-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-gm-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-gm-12 .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }
	  .col-sm-6 {
        width: 50%;
    }
}
	@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
     .col-md-6 {
        width: 50%;
    }
	}
  @media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
  }
  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  table td:nth-child(even)  {
    background-color: #AAA; 
  }
  }
     @media (min-width: 419px) and (max-width: 767px) {
.col {
    max-width: 49%;

}    
	 }
	 @media (min-width: 320px) and (max-width: 418px) {
.top-number   {
    text-align:center;
float:none;
padding: 0 0 5px 0;
margin-top: -7px;
}  
.old  {
	width:75%;
}  
.logo {
    float: none;
    text-align: center;
		width:100%;

}

	 }
	
@media (min-width: 320px) and (max-width: 900px) {
.popup {
    width: 95%;

}
}                

			@media only screen and (max-width: 767px) and (min-width: 576px)  {
.slides h2 {
font-size: 40px;
}
		}
@media only screen and (max-width: 575px) and (min-width: 320px)  {
.slides h2 {
font-size: 25px;
}
		}	
		
		